.badge {
  background: black;
  display: inline;
  font-size: 15px;
  padding: 1px 5px;

  border-radius: 50%;
}/* PHASE 2: Notifications */

li:hover .badge {
  background: red;
}

.header {
  position: relative;
  z-index: 1;
}

.header-notifications {
  display: none
}

li:hover .header-notifications {
  display: block;
}
